---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
    <main class='grow grid place-items-center'>
        <div class='container px-6 max-w-prose'>
            <h1 class='text-2xl md:text-[2rem] py-4'>Hey I'm Matthias 👋</h1>
            <p class='text-xl md:text-[1.5rem] text-neutral-200 leading-8 tracking-wide'>
                A former craftsman and now Web Developer mainly working with technologies such as
                JavaScript, TypeScript, React, React Native and Node.js.
            </p>
        </div>
    </main>
</Layout>
